/* --Main-- */

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 90%;
}

.main-content {
  width: 1024px;
  margin: auto;
}

section {
  width: 100%;
}

img.icon {
  width: 30px;
  margin: 0.1em;
}

a {
  text-decoration: none;
  color: black;
}

table tr td {
    padding: 0.1em;
}

.centered {
    text-align: center;
}

h1 {
    padding: 0.2em;
    background-color: rgb(60, 160, 240);
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    color: white;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-left: 0.5em;
}

.info {
    color: rgb(0, 0, 0, 0.75);
    font-style: italic;
    font-size: 0.8em;
}

ul.inline {
    display: flex;
    justify-content: center;
    margin: 0px;
}

ul.inline li {
    flex-grow: 1;
    text-align: center;
    margin: 0.1em 1em 0.1em 1em;
    position: relative;
    list-style-type: "◊";
}

section .content {
    display: flex;
    justify-content: center;
    padding: 1em;
}

section .content>div  {
    flex-grow: 1;
    text-align: center;
}

p {
  margin: 1em;
}

table.assets td {
  padding: 0.2em;
}

table.assets th {
  padding-bottom: 0.5em;
  color: rgb(0, 0, 0, 0.75);
}

section.title {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: rgb(0, 0, 0, 0.75);
  margin-bottom: 0.5em;
}

#me {
    width: 100px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

section.interests .content,
section.character .content {
  display: block;
}

table.detailed {
  width: 100%;
}

table.detailed th {
  padding: 0.7em 1em;
  font-weight: 500;
  color: rgb(0, 0, 0, 0.75);
}

table.detailed td .detailed__title {
  font-weight: 600;
  color: rgb(0, 0, 0, 0.75);
  margin-bottom: 0.2em;
}

table.detailed td .detailed__sub {
  font-weight: 600;
  color: rgb(0, 0, 0, 0.75);
  font-style: italic;
  font-size: 0.8em;
}

table.detailed td .detailed__sub .location {
  font-weight: 500;
}

table.detailed td span.location::before {
  content: '';
  background-image: url('icons/pin.svg');
  display: inline-block;
  background-size: 1em;
  width: 1em;
  height: 1em;
  margin-left: 5px;
}

table.detailed td .detailed__sub .location {
  font-weight: 500;
}

table.detailed td .detailed__content {
  display: flex;
  font-size: 0.8em;
  color: rgb(0, 0, 0, 0.75);
}

table.detailed td .detailed__content ul {
  margin: 0px;
}

table.detailed td .detailed__content ul li {
  list-style-type: "-";
  padding-left: 0.5em;
}

/* @media screen and (min-width: 800px) {
    .main-content {
      margin: 1em 2em;
    }
  }  */

/* a[rel="noopener noreferrer"] ::after {
  content: url(icons/external-link.svg);
  width: 10px;
  height: 10px;
  font-size: 10px;
} */
