/* --Main-- */

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 90%;
}

.main-content {
  width: 1024px;
  margin: auto;
}

.section {
  width: 100%;
}

img.icon {
  width: 30px;
  display: inline;
  margin: 0.1em;
}

a {
  text-decoration: none;
  color: black;
}

table tr td {
    padding: 0.1em;
}

.centered {
    text-align: center;
}

h1 {
    padding: 0.2em;
    background-color: rgb(60, 160, 240);
    color: white;
}

.info {
    color: grey;
    font-style: italic;
    font-size: 0.8em;
}

ul.inline {
    display: flex;
    justify-content: center;
}

ul.inline li {
    flex-grow: 1;
    text-align: center;
    margin: 0.1em 1em 0.1em 1em;
    position: relative;
    list-style-type: square;
}

.section .content {
    display: flex;
    justify-content: center;
}

.section .content>div  {
    flex-grow: 1;
    text-align: center;
}

p {
  margin: 1em;
}

/* --Profile-- */

#me {
    width: 120px;
}

/* @media screen and (min-width: 800px) {
    .main-content {
      margin: 1em 2em;
    }
  }  */

/* a[rel="noopener noreferrer"] ::after {
  content: url(icons/external-link.svg);
  width: 10px;
  height: 10px;
  font-size: 10px;
} */
